<div [@routerTransition]>
    <app-page-header [heading]="'Close Gaps'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row card-text">
                        <div class="col font-weight-bold">
                            MID
                        </div>
                        <div class="col">
                            PI72182
                        </div>
                        <div class="col font-weight-bold">
                            Name
                        </div>
                        <div class="col">
                            John Doe
                        </div>
                    </div>
                    <div class="row card-text">
                        <div class="col font-weight-bold">
                            Gender
                        </div>
                        <div class="col">
                            Male
                        </div>
                        <div class="col font-weight-bold">
                            DOB
                        </div>
                        <div class="col">
                            15 Jan, 2018
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
        
            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th *ngFor="let col of cols"  >
                            {{col.header}}
                        </th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td *ngFor="let col of cols" [ngSwitch]="col.field">
                            <!-- <a *ngSwitchCase="'care_gaps'"> -->
                                {{gaps[col.field]}}
                            <!-- </a>
                            <span *ngSwitchDefault>
                                    {{gaps[col.field]}}
                            </span> -->
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
