<div >
    <app-page-header [heading]="'Close Gaps'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row card-text">
                        <div class="col font-weight-bold co-sm-1">
                            MID
                        </div>
                        <div class="col co-sm-1">
                            {{closeGaps.memberId}}
                        </div>
                        <div class="col font-weight-bold co-sm-1">
                            Name
                        </div>
                        <div class="col co-sm-1">
                            {{closeGaps.name}}
                        </div>
                    </div>
                    <div class="row card-text">
                        <div class="col font-weight-bold">
                            Gender
                        </div>
                        <div class="col">
                            {{closeGaps.gender}}
                        </div>
                        <div class="col font-weight-bold">
                            DOB
                        </div>
                        <div class="col">
                            {{closeGaps.dateOfBirth}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
        
            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th *ngFor="let col of cols"  >
                            {{col.header}}
                        </th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <td *ngFor="let col of cols" [ngSwitch]="col.field">
                            <span *ngSwitchCase="'measureTitle'"> 
                                {{gaps[col.field]}}
                            </span>
                            <p-dropdown *ngSwitchCase="'status'" [(ngModel)]="gaps[col.field]" [options]="statusTypes" [style]="{'width':'100%'}" ></p-dropdown>
                            <p-dropdown *ngSwitchCase="'priority'" [(ngModel)]="gaps[col.field]" [options]="priorityTypes" [style]="{'width':'100%'}" ></p-dropdown>
                            <span *ngSwitchDefault>
                                <textarea [(ngModel)]="gaps[col.field]" [rows]="3" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                            </span> 
                           
                        </td>
                    </tr>
                </tbody>
            </table>
            <p-fileUpload name="myfile[]" url="#" multiple="multiple" accept="image/*" maxFileSize="1000000"></p-fileUpload>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12 text-right ">
            <button pButton type="button" label="Submit" class="ui-button-success m-2"></button>
            <button pButton type="button" label="Cancel" class="ui-button-secondary m-2"></button>
        </div>
    </div>
</div>
