.brand-card-body{
    height: 40vh;
    overflow-y: scroll;
}
.icon-bg{
    background: url('/assets/images/icon-bg.png') no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    > img {
        width: 25px;
        height: 30px;
        position: absolute;
        left: 20px;
        top: 10px;
    }
}
.card {
    min-height: 80vh;
}