<div>
  <app-page-header [heading]="title" [icon]="'fa-table'"></app-page-header>
    <div class="card">
      <div class="row p-2">
        <div class="col-lg-12 ">
          <form [formGroup]="myForm" class="form-horizontal" novalidate >
            <div class="form-group">
              <div class="row">
                <span class="col-lg-4">Program Name* </span>
                <span class="col-lg-4">Measure Title*  </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="programName">
                </span>
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="MeasureTitle">
                </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <small *ngIf="!myForm.controls.programName.valid && myForm.controls.programName.touched" class="text-danger">
                  Program Name is required.
                  </small>
                </span>
                <span class="col-lg-4">
                  <small *ngIf="!myForm.controls.MeasureTitle.valid && myForm.controls.MeasureTitle.touched" class="text-danger">
                  Measure title is required.
                  </small>
                </span>
              </div>
              <div class="row">
                <span class="col-lg-4">Description* </span>
                <span class="col-lg-4">Target Age*  </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="Description">
                </span>
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="TargetAge">
                </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <small *ngIf="!myForm.controls.Description.valid && myForm.controls.Description.touched" class="text-danger">
                  Description is required.
                  </small>
                </span>
                <span class="col-lg-4">
                  <small *ngIf="!myForm.controls.TargetAge.valid && myForm.controls.TargetAge.touched" class="text-danger">
                  TargetAge is required.
                  </small>
                </span>
              </div>
              <div class="row">
                <span class="col-lg-4">Measure Domain </span>
                <span class="col-lg-4">Measure Category </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="MeasureDomain">
                </span>
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="MeasureCategory">
                </span>
              </div>
              <div class="row">
                <span class="col-lg-4">Type </span>
                <span class="col-lg-4">Clinical Condition  </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="Type">
                </span>
                <span class="col-lg-4">
                  <input type="text" class="form-control" formControlName="ClinicalCondition">
                </span>
              </div>
              <hr>
              <div class="row">
                <span class="col-lg-4">Denominator* </span>
                <span class="col-lg-4">Denominator Exclusions </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                    <textarea class="form-control" rows="3" type="text" formControlName="Denominator"></textarea>
                </span>
                <span class="col-lg-4">
                  <textarea class="form-control" rows="3" type="text" formControlName="DenominatorExclusion"></textarea>
                </span>
              </div>
              <div class="row">
                <span class="col-lg-4">
                  <small *ngIf="!myForm.controls.Denominator.valid && myForm.controls.Denominator.touched" class="text-danger">
                    Denominator is required.
                  </small>
                </span> 
              </div>
          <div class="row">
            <span class="col-lg-4">Numerator* </span>
            <span class="col-lg-4">Numerator Exclusions </span>
           
          </div>
          <div class="row">
            <span class="col-lg-4">
                <textarea class="form-control" rows="3" type="text" formControlName="Numerator"></textarea>
            </span>
            <span class="col-lg-4">
               <textarea class="form-control" rows="3" type="text" formControlName="NumeratorExclusions"></textarea>
            </span>
          </div>
          <div class="row">
            <span class="col-lg-4">
              <small *ngIf="!myForm.controls.Numerator.valid && myForm.controls.Numerator.touched" class="text-danger">
                  Numerator is required.
              </small>
            </span>
          </div>
          <div class="row">
            <span class="col-lg-4">Target </span>
          </div>
          <div class="row">
            <span class="col-lg-4">
               <input type="text" class="form-control" formControlName="Target">
            </span>
          </div>
          <div class="row p-2">
            <span class="col-lg-4 text-center " >
            <button (click)="savePc(myForm.value,myForm.valid)" class="btn btn-secondary btn-background" >Save</button>&nbsp;&nbsp;
            <button (click)="onSubmit()" class="btn btn-secondary " >Submit</button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>